
</div> <!-- end of main container to give space after fixed menu in header -->
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.21.0/components/prism-core.min.js" integrity="sha512-hqRrGU7ys5tkcqxx5FIZTBb7PkO2o3mU6U5+qB9b55kgMlBUT4J2wPwQfMCxeJW1fC8pBxuatxoH//z0FInhrA==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.21.0/plugins/autoloader/prism-autoloader.min.js" integrity="sha512-ROhjG07IRaPZsryG77+MVyx3ZT5q3sGEGENoGItwc9xgvx+dl+s3D8Ob1zPdbl/iKklMKp7uFemLJFDRw0bvig==" crossorigin="anonymous"></script>
</body>
</html>

<script>

  $(".ui.sticky").sticky({
    context: "#main-stick"
  });

 window.onload = function() {
  $(".ui.dropdown").dropdown();
 } 

 function checkScreenWidth(x) {
   if(x.matches) {
     $(".full-screen").css("display", "none");
     $(".small-screen").css("display", "flex");
   } else {
    $(".small-screen").css("display", "none");
    $(".full-screen").css("display", "flex");
   }
 }

 var x = window.matchMedia("(max-width: 767px");
 checkScreenWidth(x);
 x.addListener(checkScreenWidth);

</script>