i.icon {
  font-size: 2em;
}

.tags-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
}
.page-content {
  top: 70px;
}

#delete {
  display: inline;
}

.pink {
  color: pink;
}

/* NEW BLOG PAGE */
.select-tag-div {
  padding: 5px;
  padding-right: 9px;
  margin-left: 3px !important;
  border-radius: 5px;
}
.select-tag-label {
  cursor: pointer !important;
}
/* BLOG PAGES */
.blog-tag-list {
  padding-bottom: 30px;
}
/* BLOG SHOW PAGE */
.blog-show-header-wrapper .header{
  margin-bottom: 0;
}
/* MANAGE PAGE */
.tag-item {
  margin: 2px !important;
  cursor: pointer;
}
#blog-count {
  text-align: center;
  vertical-align: middle;
}
.add-tag-btn {
  height: 35px;
  margin-top: 25px !important;
}
.tag-menu-count {
background: white;
border: white 1px solid;
border-radius: 50%;
display: inline-block;
height: 14px;
padding-left: 2px;
width: 14px;
margin-left: 3px;
}