i.icon {
  font-size: 2em;
}
.main .menu {
  margin-top: 15px !important;
  height: 100%;
}
.container.main {
  margin-top: 60px;
}
.page-content {
  margin-top: 0;
}
.flash{
  margin-bottom: 50px;
}
#delete {
  display: inline;
}

.pink {
  color: pink;
}

.tag-item {
  margin: 2px !important;
}

.add-tag-btn {
  height: 35px;
  margin-top: 25px !important;
}